/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2.6.2014, 15:49:49
    Author     : root
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    text-align: center;
    margin: 20px auto;
}

#main { background: #eee }

#header {
    height: 250px;
    background: #aaa;
}

#footer {
    height: 60px;
    clear: left;
    background: #aaa;
}

#indexLeftColumn {
    width: 400px;
    height: 280px;
    float: left;
    /*background: #ccc;*/
    border-radius: 4px;
}

#indexRightColumn {
    width: 400px;
    height: 280px;
    float: left;
    background: #eee;
    border-radius: 4px;
}

#singleColumn {
    margin: 2px 3px;
    text-align: left;
}

#checkoutColumn {
    margin: 2px 0px;
    text-align: left;
}

/* checkout page styles */
#paymentTable {
    width: 360px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    height: 280px;
    border-radius: 4px;
}

#paymentTable td {
    vertical-align: top;
    text-align: right;
    margin: 5px;
}

/* checkout page styles */
#checkoutTable {
    width: 360px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    height: 280px;
    border-radius: 4px;
}

#checkoutTable td {
    vertical-align: top;
    text-align: left;
    margin: 5px;
}

.inputField { width: 190px }
.outputField { width: 190px }
.inputCardNum { width: 100px }

.submitButton:before {
  content: "";
}
.submitButton { width: 50px }

#infoBox {
    width: 300px;
    padding: 10px 25px 0 460px;
    padding-left: 30px;
    float: left;
}

#priceBox {
    padding: 10px;
    border: 1px solid #c3e3e0;
    margin: 10px 30px;
    height: 128px;
    background-color: #c3e3e0;
    border-radius: 4px;
}

#priceBox td {
    text-align: right;
    padding: 5px;
}

.checkoutPriceColumn {
    width: 80px;
    font-weight: bold;
}

.total { border-top: 1px solid #444 }

.indent { margin-left: 6em }
